.slideshow-container {
  max-width:40vw;
  margin: 3vw auto 0 auto;
  position: relative;
}

.mySlides {
  display: none;
}

.slideShowImg{
  width:100%;
  height:50vh;
  border-radius: 1vw;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: white;
  font-size: 1.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  border-color: white;
  font-weight: bold;
}

.numbertext {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 50px 2px 2vh 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current, .dot:hover {
    background-color: #99E2FF;
    color: blue;
}

.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 952px){
  .slideShowImg{
    height:30vh;
  }

  .slideshow-container {
    max-width:80vw;
  }
}

@media (hover: hover) and (pointer: fine) {
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .numbertext {
    font-size: 1em;
  }
}
