*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-sizing:border-box
}


header{
  background-color: black;
  color: white;

}

h1{
  font-size:4vw;
}

body {
  margin:0px;
  padding:0px;
  background:#535f80;
}


footer{
  background: black ;
  color: white;
  line-height: 80px;
}

label.logo{
  font-size:35px;
  line-height: 15vh;
  font-weight: bold;
  padding-left: 20px;
  color:#FEFEFE;
}

.logo:hover{
  font-size:40px;
  cursor: pointer;
}

nav ul{
  float:right;
  margin-right: 20px;
}

nav ul li{
  display:inline-block;
  line-height: 15vh;
  max-height: 15vh;
  margin: 0 5px;
}

nav ul li a {
  color:white;
  font-size:2em;
  padding: 7px 13px;
  border-radius: 3px;
}

 .active, .nav:hover{
  background: #99E2FF;
    font-size:2em;
}

.checkbtn{
  font-size: 35px;
  color:white;
  float: right;
  cursor: pointer;
  display:none;
}

.imageContainer{
  width:100%;
  margin:0px;
  overflow-y:auto;
  height:70vh;
  padding:2vw;
}

.sideText{
  width:50%;
  color:black;
  font-size:2vw;
  text-align: left;
  margin-left:5vw;
  padding:3vw;
  display:block;
}

.sideImage{
  border-radius: 75px;
  max-height: 80%;
  max-width: 50%;
}

.standaloneText{
  width:100%;
  color:black;
  font-size:2vw;
  text-align: left;
  padding:1vh 30vw;
  display:block;
  text-align: center;
}

.standaloneImage{
  width:auto%;
  height:50vh;
  color:black;
  padding:1vh 30vw;
  display:block;
  border-radius:5vw;
}

#check{
  display: none;
}


.horizontalImage{
  max-height: 50vh;
  max-width: 30vw;
  margin-right:5vw;
}

.verticalImage{
  max-height: 20vh;
  max-width: 50%;
}


.horizontal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #E7E9F0;
}

h3{
  padding:10px;
}

.projectText{
  font-size:1em;
  padding:5px;
}

.vertical{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding:2vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding:1vh;
}
.grid-item {
  font-size: 30px;
  max-width: 100%;
  padding:1vh;
  margin:auto;
}

#aboutMeBtn{
  padding:1vh 5vw;
  border-radius: 10px;
  border:5px;
  font-size: 2vw;
  color:white;
  display:block;
  cursor: pointer;
    margin:3vw 0 0 0;
  background-color: #4794B3;
}

#myProjectsBtn{
  padding:1vh 5vw;
  border-radius: 10px;
  border:5px;
  font-size: 2vw;
  color:white;
  display:block;
  cursor: pointer;
  margin:2vw auto 1vw auto;
  background-color: #4794B3;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 15px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .imageContainer{
    height:30vh;
  }

  .sideText{
    height:20vh;
  }

  .sideImage{
      max-height: 30vh;
      border-radius:25px;
  }

  .checkbtn{
    display:block;
    line-height: 15vh;
    margin-right:40px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding:1vh;
  }

  ul{
    position: fixed;
    width:100%;
    height:100vh;
    background:black;
    left:0;
    text-align: center;
    left: -100%;
    text-align: center;
    transition: all .5s;
      z-index: 1000;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color:white;
  }
  .nav:active, .nav:hover{
   background: #99E2FF;
 }

  #check:checked ~ ul{
    left: 0;
  }

}
